html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
  box-sizing: border-box;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: sans-serif;
  letter-spacing: -0.35px;
  overflow-y: overlay;
  font-size: 1rem;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-font-smoothing: antialiased;
}

.icon {
  width: 70px;
  height: 70px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scroll-demo {
  width: 100px;
}

.scroll-demo .icon {
  margin-bottom: 200px;
}

.custom-btn {
  padding: 0;
  border: 0;
  background: none;
  font-size: 0.6em;
  text-align: left;
  line-height: 0.5;
  cursor: pointer;
  margin-right: 1em;
}

.custom-btn:hover {
  text-decoration: underline;
}

.custom-btn p:before,
.custom-btn p:after {
  content: '"';
}

.open-button {
  border: 0;
  background-color: #8e949a;
  color: #fff;
  padding: 0.5em 1em;
  font: inherit;
  font-size: 0.85em;
  border-radius: 2em;
  margin-bottom: 1em;
  cursor: pointer;
}

.open-button:hover {
  background-color: #92a8b4;
}

.big-target {
  font-family: sans-serif;
  text-align: center;

  /* display: flex; */
  display: grid;
  grid-template-columns: 0.3fr 0.1fr 1fr;
}

.left {
  border: 1px solid red;
  align-self: flex-start;
  height: 600px;
  flex-basis: 30%;
}

.separador {
  border: 1px solid green;
  align-self: flex-start;
  height: 600px;
  flex-basis: 10%;
}

.izquierda {
  border: 1px solid blue;
  align-self: flex-start;
  height: 1200px;
  flex-grow: 1;
}

/* styles.css */
.reactour__popover:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: var(--rtp-arrow-top, auto);
  right: var(--rtp-arrow-right, auto);
  bottom: var(--rtp-arrow-bottom, auto);
  left: var(--rtp-arrow-left, auto);
  border-top: var(--rtp-arrow-border-top);
  border-right: var(--rtp-arrow-border-right);
  border-bottom: var(--rtp-arrow-border-bottom);
  border-left: var(--rtp-arrow-border-left);
}

@keyframes mask-ping {
  0% {
    stroke-width: 0;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    stroke-width: 16px;
    opacity: 0;
  }
}


#carbonads * {
  margin: initial;
  padding: initial;
  line-height: initial;
}

#carbonads {
  --carbon-font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  --carbon-font-size: 14px;
  --carbon-padding: 1.5ch;
  --carbon-max-char: 20ch;
  --carbon-bg-primary: hsl(0, 0%, 98%);
  --carbon-bg-secondary: hsl(0, 0%, 92%);
  --carbon-text-color: hsl(0, 0%, 20%);
  z-index: 1000;
  font-size: var(--carbon-font-size);
  font-family: var(--carbon-font-family);
  position: fixed;
  right: 2rem;
  top: 2rem;
  padding: 2rem;
  background: #f1f1f1;
  width: calc(130px + 4rem);

}

#carbonads>span {
  display: flex;
  flex-direction: column;
  min-inline-size: 130px;
  max-inline-size: calc(130px + var(--carbon-max-char) + 8ch);
}

#carbonads a {
  color: var(--carbon-text-color);
  text-decoration: none;
}

#carbonads a:hover {
  color: var(--carbon-text-color);
}



#carbonads .carbon-img img {
  display: block;
  margin-bottom: 1rem;
}

#carbonads .carbon-text {
  flex-grow: 1;
  flex-basis: var(--carbon-max-char);
  line-height: 1.4;
  text-align: left;
}

#carbonads .carbon-poweredby {
  padding: 6px 8px;
  background: var(--carbon-bg-secondary);
  color: var(--carbon-text-color);
  font-weight: 600;
  font-size: 0.6em;
  line-height: 1.4;
  letter-spacing: 0.2ch;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}

@media (prefers-color-scheme: dark) {
  #carbonads {
    --carbon-bg-primary: hsl(0, 0%, 12%);
    --carbon-bg-secondary: hsl(0, 0%, 15%);
    --carbon-text-color: hsl(0, 0%, 90%);
  }
}