@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings:
    'rlig' 1,
    'calt' 1;
}

figcaption {
  font-size: 0.85rem;
  line-height: 1.5rem;
  display: block;
  text-align: center;
  margin-top: 0.5rem;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

#carbonads {
  position: fixed;
  right: 2em;
  bottom: 2em
}

@media (min-width: 768px) {
  #carbonads {
    top: 80px;
    height: fit-content;
  }

  nav.nextra-toc .nextra-scrollbar {
    top: 200px;
  }
}
