html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #2d2323;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetical Neue',
    sans-serif;
}

.helper {
  line-height: 1.3;
  color: #2d2323;
}

.mask {
  color: #021d1d;
}

[data-tour-elem='controls'] {
  justify-content: center;
}

.CustomHelper__wrapper {
  display: flex;
  background-color: #f8f8f8;
  max-width: 490px;
  border-radius: 6px;
}

.CustomHelper__sidebar {
  background-color: #5cb7b7;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #fff;
  min-width: 120px;
  min-height: 200px;
  padding-top: 2em;
  padding-bottom: 2em;
}

.CustomHelper__sidebar_img {
  width: 80px;
  height: 80px;
  margin-bottom: 1em;
}

.CustomHelper__sidebar_step {
  font-size: 10px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  padding: 0.5em 1em;
  border-radius: 1em;
}

.CustomHelper__content {
  flex: 2;
  padding: 2em;
  padding-bottom: 5em;
  position: relative;
  background-color: #ffffe4;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.CustomHelper__controls {
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;
}

.CustomHelper__navArrow {
  margin-right: 10px;
  margin-left: 10px;
}
