:root {
   --reactour-base: #1b8ebf;
}

.Guide.default-styles {
  max-width: 331px;
  min-width: 150px;
  padding-right: 40px;
  /* border-radius: ${props.rounded}px; */
  background-color: var(--reactour-base);
  padding: 24px 30px;
  box-shadow: 0 0.5em 3em rgba(0, 0, 0, 0.3);
  color: inherit;
}

.Guide {
  position: fixed;
  transition: transform 0.3s;
  top: 0;
  left: 0;
  z-index: 1000000;
}

.Close:hover {
    color: #000 !important;
}

.Badge {
  position: absolute;
  font-family: monospace;
  background: var(--reactour-accent);
  height: 1.875em;
  line-height: 2;
  padding-left: 0.8125em;
  padding-right: 0.8125em;
  font-size: 1em;
  border-radius: 1.625em;
  color: white;
  text-align: center;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.3);
  top: -0.8125em;
  left: -0.8125em;
}

.Controls {
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: center;
}

.Arrow__label {
  font-size: 12px;
  line-height: 1;
}

.Dot {
  counter-increment: dot;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  padding: 0;
  display: block;
  margin: 4px;
  transition: opacity 0.3s, transform 0.3s;
}

.Dot::before {
  content: counter(dot);
  position: absolute;
  bottom: calc(100% + 0.25em);
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 1em);
  transition: 0.3s;
  display: none;
}

.showNumber.Dot::before {
  display: block !important;
}

.Dot.disabled {
  cursor: not-allowed;
}

.Dot.not-disabled {
  cursor: pointer;
}

.Dot.not-selected {
  border: 1px solid #caccce;
  color: caccce;
  background: none;
}

.Dot.selected {
  border: 0;
  color: #fff;
  background: #fff;
}

.Dot:hover {
  background-color: currentColor;
 }

 .Dot:hover::before {
  opacity: 0.5;
  transform: translate(-50%, -2px);
 }