.icon {
  width: 70px;
  height: 70px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scroll-demo {
  width: 100%;
  flex-direction: column;
}

.scroll-demo .icon {
  margin-bottom: 200px;
}
.scroll-demo .icon:nth-child(3) {
  align-self: flex-end;
}

.custom-btn {
  padding: 0;
  border: 0;
  background: none;
  font-size: 0.6em;
  text-align: left;
  line-height: 0.5;
  cursor: pointer;
  margin-right: 1em;
}
.custom-btn:hover {
  text-decoration: underline;
}
.custom-btn p:before,
.custom-btn p:after {
  content: '"';
}

.open-button {
  border: 0;
  background-color: #8e949a;
  color: #fff;
  padding: 0.5em 1em;
  font: inherit;
  font-size: 0.85em;
  border-radius: 2em;
  margin-bottom: 1em;
  cursor: pointer;
}

.open-button:hover {
  background-color: #92a8b4;
}

.big-target {
  font-family: sans-serif;
  text-align: center;

  /* display: flex; */
  display: grid;
  grid-template-columns: 0.3fr 0.1fr 1fr;
}

.left {
  border: 1px solid red;
  align-self: flex-start;
  height: 600px;
  flex-basis: 30%;
}

.separador {
  border: 1px solid green;
  align-self: flex-start;
  height: 600px;
  flex-basis: 10%;
}

.izquierda {
  border: 1px solid blue;
  align-self: flex-start;
  height: 1200px;
  flex-grow: 1;
}

.a {
  /* display: none; */
  background-color: blue;
}
.b {
  position: relative;
  left: 200px;
  top: 200px;
  width: 500px;
  background-color: red;
  height: 2000px;
}

.active * {
  stroke: rgb(188, 232, 12);
  fill: none;
  stroke-width: 3px;
}
